.vs/
lib/src/ThreadStorm/obj/
lib/src/TestConsoleApp/obj/
lib/src/TestConsoleApp/bin/
lib/bin/
lib/src/godot-csharp-tech/obj/
lib/src/ThreadStorm/bin/
demo-projects/scratch/.mono/
demo-projects/scratch/.import/
packages/
